.container_flex {
	background-color: #a5a5a5;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.container_flex.size_2 {
	align-items: stretch;
}

.container_flex.size_3 {
	height: 900px;
	align-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column-reverse;
}

.containet_flex_item {
	background-color: #005555;
	padding: 20px;
	width: 300px;
}
.size_3 .containet_flex_item {
	margin: 20px;
}
.short {
	height: 100px;
}
.middle {
	height: 200px;
}
.long {
	height: 300px;
}
